.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 80%;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 15px;
}

span {
  font-size: 2rem;
  padding: 0.5rem;
}
